@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

*{
    box-sizing: border-box;
}
.container-total {
    background-color: #E5E5E5;
    width: 614px;
}

/*----------------------- Início de estilo menu -----------------------*/

header {
    background-color: #CF2B2B;
    width: 614px;
    height: 92px;
    font-family: "Roboto";
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    font-family: "Righteous";
    color: white;
    font-size: 44px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: -0.012em;
    margin-left: 21px;
}

.slogan {
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-left: 21px;
}

/*----------------------- Início de estilo Container -----------------------*/

main {
    width: 614px;
    margin-top: 123px;
}

.titulo {
    font-family: "Righteous";
    margin-top: 27px;
    margin-bottom: 17px;
    margin-left: 19px;
}

.opcoes {
    display: flex;
    gap: 16px;
    margin-left: 19px;
    overflow: hidden;
    height: fit-content;
}

.opcao {
    background-color: #FFFFFF;
    border-radius: 9px;
    width: 172px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    padding-right: 14px;
    padding-left: 14px;
    padding-top: 18px;
    box-shadow: 0 0 10px -4px rgb(0, 0, 0, 25);
}

.opcao :nth-child(1) {
    margin-bottom: 8px;
}

.opcao :nth-child(2) {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 4px;
}

.opcao :nth-child(3) {
    color: #A6A6A6;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 5px;
}

.opcao :nth-child(4) {
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 13px;
}